@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.header {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    z-index: -1;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.header-content h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.5rem;
}

.navbar {
    background-color: #1f1f1f;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ffd700; /* Gold */
}

.reminder-container,
.wedding {
    padding: 40px 20px;
    text-align: center;
    background: #1f1f1f;
    color: #ffffff;
}

.reminder-container h2,
.wedding h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.8rem;
    color: #ffd700; /* Gold */
    margin-bottom: 20px;
}

.reminder {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.reminder div {
    display: inline-block;
    text-align: center;
}

.reminder span {
    display: block;
    font-size: 3rem;
    color: #ffd700; /* Gold */
}

.text-container {
    margin-bottom: 20px;
}

.location-button {
    background-color: #ffd700; /* Gold */
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.location-button:hover {
    background-color: #e6be8a;
    transform: scale(1.05);
}
